@model Formation.CQRS.UI.Model.GeoLocalisationModel
@{
    ViewData["Title"] = "Geo Localisation";
}
<h1>@ViewData["Détails"]</h1>

<h2>Position actuelle (@Model.guid)</h2>


@{
    TimeSpan span = new TimeSpan(Model.delais_total);

    var googleUrl = String.Format("https://www.google.ca/maps/place/{0}+{1}/@{2},{3},5z",
                            System.Web.HttpUtility.UrlEncode(Model.latitudePretty()),
                            System.Web.HttpUtility.UrlEncode(Model.longitudePretty()),
                            Model.latitude,
                            Model.longitude);
}

@if(Model.id > 0)
{
    <ul>
        <li>date:               @Model.date</li>
        <li>latitude:           @Model.latitude</li>
        <li>longitude:          @Model.longitude</li>
        <li>delais_total:       @span.ToString()</li>
        <li>distance_total:     @Model.distance_total km</li>
        <li>vitesse_moyenne:    @Model.vitesse_moyenne km/h</li>
        <li><a href="@googleUrl">Voir sur google map</a></li>
    </ul>
}
else
{
    <div>Service non-disponible pour le moment. Veuillez réesayer plus tard.</div>
}
